@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }
  
  body {
    @apply font-sans antialiased;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
}

@layer utilities {
  .title-gradient {
    @apply bg-gradient-to-r from-[#0D2946] to-[#3BA6E7] text-transparent bg-clip-text;
    color: #0D2946; /* Fallback color if gradient fails */
  }
}